// Colors
$grey: #333333;
// Navigation COlors ...
$nav-background :$grey;
$nav-text-color:white;
$nav-links:#04ff3a;
// Clock colors ...
$clock-text-color:white;
$clock-background-color:#95e5a1;
$clock-border-color:#13c734;